.vscode
venv/
save/
sftp-config.json
data/
MultiWOZ_2.2/
*.pyc
lang_data/
original_lang_data/
lang_data_multiwoz_22/
models/__pycache__
utils/__pycache__
logs/
BERT_ValueExtraction_models/

*OLD*

notes_to_self.txt
